#button {
    padding: 8px 32px;
    text-decoration: none;
    background-color: transparent;
    border: 1px solid #103EF6;
    border-radius: 12px;
    color: #103EF6; 
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
}

#button:hover {
    background-color: rgb(240, 243, 255);
}

#button:active {
    background-color: rgb(215, 223, 255);
}

#button::after {
    content: "";
    height: 100%;
    width: 100%;
}